{%- block textarea_widget -%}
    <textarea class="AknTextareaField" {{ block('widget_attributes') }}>{{ value }}</textarea>
    <div class="AknIconButton"><i class="icon-folder-close" id="descriptionFallbackFolder" aria-hidden="true"></i></div>
{%- endblock textarea_widget -%}